.App {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.routes {
  margin-left: 16rem;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1029px) {
  html {
    font-size: 70%;
  }
}

@media only screen and (min-width: 1030px) and (max-width: 1369px) {
  html {
    font-size: 85%;
  }
}

@media only screen and (min-width: 1370px) and (max-width: 1605px) {
  html {
    font-size: 100%;
  }
}
